.App {
	background-color: #030303;
  text-align: left;
	display: flex;
	height: 100vh;
	max-height: 100vh;
	min-height: 100vh;
}

.Twitch-view {
	background-color: #0FFFFF;
  align-items: center;
	justify-content: center;
  line-height: 100px;
  margin: 20px;
	width: 100px;
	flex: 3;
}

.User-interface {
	background-color: #00FFFF;
  text-align: center;
  align-items: center;
	justify-content: center;
  line-height: 100px;
  margin: 20px;
	width: 100px;
	flex: 1;
}

.Pac-Man {
  height: 100%;
}
