.App {
	background-color: #030303;
  text-align: left;
	display: flex;
	height: 100vh;
	max-height: 100vh;
	min-height: 100vh;
}

.Twitch-view {
	background-color: #0FFFFF;
  align-items: center;
	justify-content: center;
  line-height: 100px;
  margin: 20px;
	width: 100px;
	flex: 3;
}

.User-interface {
	background-color: #00FFFF;
  text-align: center;
  align-items: center;
	justify-content: center;
  line-height: 100px;
  margin: 20px;
	width: 100px;
	flex: 1;
}

.Pac-Man {
  width: 100%;
}

.Instruction {
	background-color: #030303;
  height: 30%;
	color: #5657F6;
}

.Instruction-title {
  background-color: #030303;
	height: 30%;
	color: #5657F6;
	text-align: left;
}

.Audio-settings {
	background-color: #0000FF;
  height: 30%;
}

.Action-log {
	background-color: #00000F;
  height: 30%;
}

.Record {
	background-color: #000000;
  height: 10%;
}
